@charset "utf-8";

/*** 상세 | board/skin/event/view.html ***/

.view_event {}
.view_event .goods_area {}
.view_event .goods_area h3 {padding:0 10px 0 10px; background:#f2f3f3; font-size:14px; line-height:36px; color:#333333;}

.view_event .view_wrap .view_box {}
.view_event .view_wrap .view_box .view_info_box {position:relative;}
.view_event .view_wrap .view_box .view_info_box .view_info {padding:10px 10px 10px 10px;border-bottom:1px solid #dbdbdb;}
.view_event .view_wrap .view_box .view_info_box .view_info .writer {font-size:13px; color:#666666; }
.view_event .view_wrap .view_box .view_info_box .view_info .date {position:relative; padding:0 0 0 5px; margin:0 0 0 1px; font-size:12px; color:#aaaaaa;}
.view_event .view_wrap .view_box .view_info_box .view_info .date:after {position:absolute; left:0; top:4px; width:1px; height:10px; background:#cacaca; content: '';}
.view_event .view_wrap .view_box .view_info_box .view_info .ip {position:relative; padding:0 0 0 5px; margin:0 0 0 1px; font-size:12px; color:#aaaaaa;}
.view_event .view_wrap .view_box .view_info_box .view_info .ip:after {position:absolute; left:0; top:4px; width:1px; height:10px; background:#cacaca; content: '';}
.view_event .view_wrap .view_box .view_info_box .view_info .event {font-size:13px; color:#aaaaaa;}
.view_event .view_wrap .view_box .view_info_box .view_info .event strong {color:#666666; font-weight:normal;}
/* 평점 */
.view_event .view_wrap .view_box .view_info_box .rating {position:absolute; top:12px; right:10px; display:block; width:77px; height:13px; font-size:0; background:url('../../../../img/icon/icon_star.png') no-repeat left top; background-size:77px 13px;}
.view_event .view_wrap .view_box .view_info_box .rating span {display:block; height:13px; background:url('../../../../img/icon/icon_star_on.png') no-repeat left top; background-size:77px 13px;}

/* 상품 */
.view_event .view_wrap .view_box .selected_goods_wrap {padding:0 10px; border-bottom:1px solid #ddd;}
.view_event .view_wrap .view_box .selected_goods_wrap .selected_goods {display:table; width:100%; table-layout:fixed;}
.view_event .view_wrap .view_box .selected_goods_wrap .selected_goods .goods_item_cell{display:table-cell; vertical-align:middle;}
.view_event .view_wrap .view_box .selected_goods_wrap .selected_goods .goods_item_cell.cell_img{width:50px; padding:10px 10px 10px 0;}
.view_event .view_wrap .view_box .selected_goods_wrap .selected_goods .goods_item_cell.cell_img .goods_img{display:block; border:1px solid #e5e5e5;}
.view_event .view_wrap .view_box .selected_goods_wrap .selected_goods .goods_item_cell.cell_img .goods_img img{ width:100%; vertical-align:top; }
.view_event .view_wrap .view_box .selected_goods_wrap .selected_goods .goods_item_cell.cell_info{font-size:14px; padding:10px 0;}
.view_event .view_wrap .view_box .selected_goods_wrap .selected_goods .goods_item_cell.cell_price{text-align:right; font-size:14px;}
.view_event .view_wrap .view_box .selected_goods_wrap .selected_goods .goods_item_cell .goods_titlename {display:block; font-weight:bold;}
.view_event .view_wrap .view_box .selected_goods_wrap .selected_goods .goods_item_cell .goods_optionname {display:block; color:#888;}

/* 내용 */
.view_event .view_wrap .contents_holder {padding:15px 10px 15px 10px; line-height:1.8em; font-size:13px; table-layout:fixed; word-break:break-all; word-wrap:break-word; color:#777; }
.view_event .view_wrap .contents_holder img {max-width:100%;}
.view_default .view_wrap .contents_holder .js_comment_btn_secret {cursor: pointer;color: #777;}

/* 댓글 수 추천 */
.view_event .view_wrap .view_comment {position:relative; overflow:hidden; padding:15px 0 15px 15px; border-top:1px solid #dbdbdb; }
.view_event .view_wrap .view_comment .comment_count span {float:left; padding:0 20px 0 0px;}
.view_event .view_wrap .view_comment .comment_count span strong {color: #3e3d3c; }
.view_event .view_wrap .view_comment .comment_count .skinbtn {margin: 0 0 0 7px; font-weight:normal; }
.view_event .view_wrap .view_comment .comment_count .btn_like {display:inline-block; position:absolute; top:50%; right:10px; width:70px; margin-top:-12px; }

/* 댓글 */
.view_event .view_wrap .comment_wrap .comment_info {position:relative; padding:10px 10px 10px 10px; border-top:1px solid #e5e5e5;}
.view_event .view_wrap .comment_wrap .comment_info .writer {font-size:13px; color:#666666; }
.view_event .view_wrap .comment_wrap .comment_info .date {position:relative; padding:0 0 0 5px; margin:0 0 0 1px; font-size:12px; color:#aaaaaa;}
.view_event .view_wrap .comment_wrap .comment_info .date:after {position:absolute; left:0; top:4px; width:1px; height:10px; background:#cacaca; content: '';}
.view_event .view_wrap .comment_wrap .comment_wrap .comment_options {padding:0 0 0 10px;}

/* 비회원 글작성에 대한 개인정보 수집 및 이용동의 && 정보 */
.view_event .view_wrap .comment_wrap .reply_form {padding:5px 10px 5px 10px; border-top:1px solid #d9d9d9; background:#f1f1f1;}
.view_event .view_wrap .comment_wrap .reply_form dl.b_guest_info {display:table; padding:5px 0 5px 0;}
.view_event .view_wrap .comment_wrap .reply_form dl.b_guest_info dd {display:table-cell; padding:0 5px 0 0;}
.view_event .view_wrap .comment_wrap .reply_form dl.b_guest_info dd input {height:31px; border:1px solid #cccccc; color:#9f9f9f; line-height:20px; text-indent:5px; background:#ffffff;}
.view_event .view_wrap .comment_wrap .reply_form dl.b_guest {padding-bottom:0;}
.view_event .view_wrap .comment_wrap .reply_form dl.b_guest dt {position:relative; width:100%; padding:5px 0 5px 0;}
.view_event .view_wrap .comment_wrap .reply_form dl.b_guest dt label {font-size:13px;}
.view_event .view_wrap .comment_wrap .reply_form dl.b_guest dd {width:100%;}
.view_event .view_wrap .comment_wrap .reply_form dl.b_guest dd .textarea_box {padding:5px 0 0 0;}
.view_event .view_wrap .comment_wrap .reply_form dl.b_guest dd .textarea_box textarea {width:100%; height:120px; padding:10px; font-size:12px; box-sizing:border-box; resize:none;}
.view_event .view_wrap .comment_wrap .reply_form .b_memo {position:relative;}
.view_event .view_wrap .comment_wrap .reply_form .b_memo .comment_input {padding:0 95px 0 0;}
.view_event .view_wrap .comment_wrap .reply_form .b_memo .comment_input textarea {width:100%; height:74px; padding:10px; font-size:12px; box-sizing:border-box; resize:none;}
.view_event .view_wrap .comment_wrap .reply_form .b_memo .comment_btn {position:absolute; top:0; right:0; width:90px;}
.view_event .view_wrap .comment_wrap .reply_form .no_data {padding:20px 0 20px 0;text-align:center;}

/* 댓글 의 댓글 */
.view_event .view_wrap .rereply_row{padding:0 20px 0 20px; }
.view_event .view_wrap .rereply_row:before {position:absolute; top:13px; left:20px; width:6px; height:6px; background:#ffffff; z-index:2;  content: '';  }
.view_event .view_wrap .rereply_row:after {position:absolute; top:13px; left:18px; width:8px; height:8px; background:#a2a2a2; z-index:1;  content: ''; }

/* 버튼 */
.view_event .view_wrap .btn_wish_bx {padding:10px 5px 10px 5px;}
.view_event .view_wrap .btn_wish_bx .btn_bx {display:table; width:100%;}
.view_event .view_wrap .btn_wish_bx .btn_bx li {display:table-cell; padding:0 5px;}