@charset "UTF-8";

/* reset */

html {width:100%; height:100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
* {-webkit-appearance:none; -webkit-border-radius:0;}
body {margin:0; font-size:12px; /* 기본폰트 사이즈 */ font-family:-apple-system,BlinkMacSystemFont,helvetica,Apple SD Gothic Neo,sans-serif; color:#000; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -webkit-font-smoothing:subpixel-antialiased; line-height:1.5;}
article,aside,details,figcaption,figure,
footer,header,hgroup,main,menu,nav,section,summary {display: block;}
audio,canvas,progress,video { display: inline-block; vertical-align: baseline;}
audio:not([controls]) { display:none;height: 0;}
[hidden],template { display: none;}
a {background-color: transparent; text-decoration: none;}
a:active,a:hover {outline:0; text-decoration: none;}
abbr[title] { border-bottom: 1px dotted;}
b,strong {font-weight: bold;}
dfn {font-style: italic;}
h1 {font-size: 2em; margin: 0.67em 0; text-decoration:none;}
mark { background: #ff0; color: #000;}
small {font-size: 80%;}
sub,sup {font-size:75%;line-height:0; position: relative; vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
img {border: 0;}
svg:not(:root) {overflow: hidden;}
figure {margin: 1em 40px;}
hr {box-sizing: content-box;height:0;}
pre {overflow: auto;}
code, kbd, pre, samp {font-family: monospace, monospace; font-size: 1em;}
button, input, optgroup,
select, textarea { color: inherit; font: inherit; margin: 0;}
button { overflow: visible; outline:none}
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner {border: 0; padding: 0;}
input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {height: auto;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none;}
fieldset { border:none; margin: 0; /*padding: 0.35em 0.625em 0.75em;*/ padding:0;}
legend {border:0; padding:0;}
textarea {overflow: auto;}
optgroup {font-weight: bold;}
table {border-collapse: collapse; border-spacing: 0;}
td,th {padding:0;}
dl, dt, dd, ol, ul, li, span, h1, h2, h3, h4, h5, h6, p { margin:0; padding:0;}
ol, ul {list-style: none;}
a, img, input, select, textarea {color:#000;}
a,area {blr:expression(this.onFocus=this.blur())}
:focus {-moz-outline-style: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
input:focus {outline:none;}
form {margin:0;}
.elp{display:block;overflow:hidden;width:100%;white-space:nowrap;text-overflow:ellipsis}