*{
    box-sizing: border-box;
}

.shorts{
    width:95%;
    height:330px!important;
    margin: 0 auto;
    touch-action:pan-y;
}


.iframe_box{
    position:relative;
    width:100%;
    height:100%;
    background: black;
    padding:20px 0;
    outline:1px solid green;
}

.background_video{
    width:100%;
    height:100%;
    border:0;
    outline:1px solid blue;
    position:absolute;
    top:0;
    left:0;
    z-index:0;
}

.title_name{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align:center;
    z-index:1;
    outline:1px solid blue;
    background: #fff;
}
.quick_box{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height:100%;
    justify-content: center;
    display: flex;
    outline:1px solid yellow;
    z-index:3;
}
.quick_box a{
    display: block;
    width: 55px;
    height: 50px;
    line-height: 50px;
    color: #00adef;
    text-align: center;
    border: 1px solid #00adef;
    background: rgba(255,255,255,0.4);
    cursor: pointer;

}
.iframe_box{

}

.mySwiper{
    width:95%;
    height:500px;
    border:1px solid red;
}
