{*** 상세 | board/view.php ***}
<div class="view_qa">
	<div class="goods_area">
		<input type="hidden" name="referer" value="{=gReferer}"/>
		<h3>
			<!--{ ? bdView.cfg.bdCategoryFl == 'y' && bdView.data.category}-->
			[{bdView.data.category}]
			<!--{/}-->
			{bdView.data.subject}
		</h3>
		<div id="boardContent" class="view_wrap">
			<div class="view_box">
				<div class="view_info_box">
					<div class="view_info">
						<span class="writer">{bdView.data.writer}</span>
						<span class="date">{bdView.data.regDt}</span>
						<!--{ ? bdView.cfg.bdIpFl == 'y' && bdView.data.writerIp }-->
						<span class="ip">{bdView.data.writerIp}</span>
						<!--{ / }-->
						<!--{ ? bdView.cfg.bdReplyStatusFl == 'y'}-->
						<div class="reply"><span <!--{ ? bdView.data.replyStatusText =='답변완료' }--> class="reply_complete" <!--{ / }-->>{bdView.data.replyStatusText}</span></div>
						<!--{ / }-->
						<!--{ ? bdView.cfg.bdGoodsPtFl == 'y' }-->
						<div class="rating"><span style="width:{bdView.data.goodsPt*20}%;">{=__('별')}</span></div>
						<!--{ / }-->
					</div>
					<!--{ ? bdView.data.isFile == 'y' }-->
					<div class="view_info">
						<span><img src="img/etc/icon-clip.png" alt="{=__('첨부파일')}"/></span>
						<strong>{=__('첨부파일')}</strong>
						<!--{ @ bdView.data.uploadedFile }-->
						<a href="./download.php?bdId={=bdView.cfg.bdId}&sno={req.sno}&fid={=.fid}">&nbsp;&nbsp;{.name}</a>
						<!--{ / }-->
					</div>
					<!--{/}-->
					<!--{ ? bdView.cfg.bdLinkFl == 'y' && bdView.data.urlLink }-->
					<div class="view_info">
						<span class="urlLink">Link&nbsp;:&nbsp;<a href="{=gd_isset(bdView.data.urlLink)}" target="_blank">{=bdView.data.urlLink}</a></span>
					</div>
					<!--{ / }-->
				</div>
				<div class="view_body">
					<!--{? bdView.data.isViewGoodsInfo == 'y' }-->
					<div class="selected_goods_wrap">
						<div class="selected_goods">
							<div class="goods_item_cell cell_img">
								<div class="goods_img">
									<a href="../goods/goods_view.php?goodsNo={bdView.data.goodsNo}" target="_blank"><img src="{bdView.data.viewListImage}" alt="{bdView.data.goodsData.goodsNm}"></a>
								</div>
							</div>
							<div class="goods_item_cell cell_info">
								<a href="../goods/goods_view.php?goodsNo={bdView.data.goodsNo}" target="_blank">{bdView.data.goodsData.goodsNm}</a>
							</div>
							<div class="goods_item_cell cell_price">
								<!--{? bdView.data.goodsData.goodsPriceString}-->
								{=bdView.data.goodsData.goodsPriceString}
								<!--{:}-->
								{=gd_global_currency_symbol()}{=gd_global_money_format(bdView.data.goodsData.goodsPrice)}{=gd_global_currency_string()}
								<!--{/}-->
							</div>

						</div>
					</div>
					<!--{ / }-->
					<!--{? bdView.data.isViewOrderInfo == 'y'}-->
					<!--{@ bdView.data.extraData.arrOrderGoodsData}-->
					<div class="selected_goods_wrap">
						<div class="selected_goods">
							<div class="goods_item_cell cell_img">
								<div class="goods_img">
									<a href="../goods/goods_view.php?goodsNo={.goodsNo}" target="_blank"><img src="{.goodsImageSrc}" alt="{.goodsNm}"></a>
								</div>
							</div>
							<div class="goods_item_cell cell_info">
								<strong class="goods_titlename">{.goodsNm}</strong>
								<span class="goods_optionname"> {.optionName}</span>
							</div>
							<div class="goods_item_cell cell_price">
								{=gd_global_currency_symbol()}{=gd_global_money_format(.totalGoodsPrice)}{=gd_global_currency_string()}
							</div>
						</div>
					</div>
					<!--{/}-->
					<!--{/}-->
				</div>
			</div>
			<div class="question">
				<div class="q">
					<strong class="item">Q.</strong>
					<div>
						<p><!--{ ? bdView.data.workedContents }-->{bdView.data.workedContents}<!--{ : }-->&nbsp;<!--{ / }--></p>
					</div>
				</div>
				<!--{ ? bdView.cfg.bdReplyStatusFl == 'y' && bdView.data.replyStatus > 1 && bdView.data.workedAnswerContents}-->
				<div class="a">
					<strong class="item">A.</strong>
					<div class="admin_info">
						<div class="info">
							<strong>{bdView.data.answerSubject}</strong>
						</div>
						<p>{bdView.data.workedAnswerContents}</p>
						<div>
							<strong>{bdView.data.answerManagerNm}</strong>
							<span>{bdView.data.answerModDt}</span>
						</div>
					</div>
				</div>
				<!--{ / }-->
			</div>
			<!--{? bdView.cfg.bdRecommendFl == 'y' }-->
			<div class="view_recommend">
				<div class="recommend_count">
					<span id="recommendCount">{=__('추천')} : <strong>{=bdView.data.recommend}</strong></span>
					<div class="btn_like"><a href="javascript:gd_recommend('{req.bdId}',{req.sno})" class="board_like_btn">{=__('추천하기')}</a></div>
				</div>
			</div>
			<!--{/}-->
			<div class="btn_wish_bx">
				<ul class="btn_bx">
					<!--{? bdView.data.auth.modify : 'y' : 'c'}-->
					<li><button type="button" class="view_modify_btn" onclick="gd_btn_modify_write('{req.bdId}',{req.sno},'{bdView.data.auth.modify}')">{=__('수정')}</button></li>
					<!--{/}-->
					<!--{? bdView.data.auth.delete : 'y' : 'c'}-->
					<li><button type="button" class="view_del_btn" onclick="gd_btn_delete('{req.bdId}',{req.sno},'{bdView.data.auth.delete}')">{=__('삭제')}</button></li>
					<!--{/}-->
				</ul>
			</div>
		</div>
	</div>
	<!-- 레이어 호출시 딤처리 -->
	<div id="layerDim" class="dn">&nbsp;</div>
	<!-- //레이어 호출시 딤처리 -->
	<!-- 비밀글 클릭시 인증 레이어 -->
	<div class="cite_layer dn js_password_layer">
		<div class="wrap">
			<h4>{=__('비밀번호 인증')}</h4>
			<div>
				<p>{=__('글 작성시 설정한 비밀번호를 입력해 주세요.')}</p>
				<input type="password" name="writerPw" />
				<div class="btn_box"><a href="javascript:void(0)" class="layer_close_btn js_submit ly_pwok_btn">{=__('확인')}</a></div>
			</div>
			<button type="button" class="close" title="{=__('닫기')}">{=__('닫기')}</button>
		</div>
	</div>
</div>
<script type="text/javascript" src="\{=c.PATH_MOBILE_SKIN}js/gd_board_view.js" charset="utf-8"></script>
<script>
    $(document).ready(function(){
        if ($('input[name="referer"]').val().indexOf('mypage_qa') != -1) {
            $('.list-btn').attr('href', '/mypage/mypage_qa.php');
        }
    });
</script>
