@charset "utf-8";
/* HIVELAB (http://www.hivelab.co.kr) */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,table,th,td,form,fieldset,legend,textarea,input,select,textarea,button,article,aside,dialog,footer,header,section,footer,nav,figure,main{margin:0;padding:0}
article,aside,dialog,footer,header,section,footer,nav,figure,main{display:block}
html,body{height:100%}
body,input,select,textarea,button{}
fieldset,li,img{border:0;vertical-align:top}
ul,ol{list-style:none}
button{overflow:visible;border:0;background-color:transparent;cursor:pointer}
button::-moz-focus-inner{padding:0;border:0}
address,caption,em{font-style:normal}
a,a:focus,a:active,a:hover{text-decoration:none}
table{border-collapse:collapse;border-spacing:0}
.blind,legend{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:1px;line-height:100px;white-space:nowrap} /* 수정예정 */

.payco_benefit-popup *{box-sizing:content-box}
.payco_benefit-popup{position:fixed;top:0;left:0;right:0;bottom:0;z-index:1001;overflow-y:auto;}
.payco_benefit-dimmed{position:fixed;left:0;top:0;width:100%;height:100%;background-color:#000;opacity:0.3;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)';z-index:1000}
.payco_benefit-popup .payco_benefit-pop{position:absolute;top:296px;left:50%;width:325px;margin:0 0 0 -162px;z-index:1001;}
.payco_benefit-popup .payco_benefit-tit_area,.payco_benefit-popup .payco_benefit-section,.payco_benefit-popup .payco_benefit-section_sub,.payco_benefit-popup .payco_benefit-btn_close{overflow:hidden;background:url('../img/sp_payco_benefit.png') no-repeat;}
.payco_benefit-popup .payco_benefit-tit_area{height:161px;background-position:0 0}
.payco_benefit-popup .payco_benefit-tit{line-height:900px;} 
.payco_benefit-popup .payco_benefit-content{letter-spacing:-0.05em;}
.payco_benefit-popup .payco_benefit-section{height:146px;padding:0 30px;background-position:0 -161px}
.payco_benefit-popup .payco_benefit-section_sub{height:101px;padding:0 30px;background-position:0 -307px}
.payco_benefit-popup .payco_benefit-tit_sub{padding-top:30px;font-size:16px;line-height:1.1;color:#00b4ff;}
.payco_benefit-popup .payco_benefit-lst{margin-top:7px;}
.payco_benefit-popup .payco_benefit-lst_item{font-size:12px;line-height:22px;color:#000}
.payco_benefit-popup .payco_benefit-btn_close{position:absolute;top:20px;right:20px;width:23px;height:23px;line-height:300px;background-position:0 -410px}
.payco_benefit-popup .payco_benefit-txt_align{display:inline-block;vertical-align:top;min-width:85px;}
.payco_benefit-popup .payco_benefit-txt_em{font-style:normal;font-weight:bold;font-weight:800}
.payco_benefit-popup .payco_benefit-txt{margin-top:9px;font-size:14px;font-style:normal;font-weight:normal;color:#000;}